# Education Level vs Infant Mortality

## Import dependencies

In [1]:
import pandas as pd
import numpy as np

## Import dataset

In [2]:
#Path to CVS file
file = "NCHS_-_Infant_and_neonatal_mortality_rates__United_States__1915-2013.csv"

# Read our Kickstarter data into a pandas dataframe (df)
df = pd.read_csv(file)
df.head(5)

       Type  Year  Mortality Rate
0  Neonatal  1915            44.4
1  Neonatal  1916            44.1
2  Neonatal  1917            43.4
3  Neonatal  1918            44.2
4  Neonatal  1919            41.5